body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 250px;
    background-color: lightblue;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}
